<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'ticket:index' %}">Accueil</a></li>
            
            <li class="sub-menu">
                <a href="#">Les tickets</a>
                <ul>
                    <li><a href="{% url 'ticket:create_ticket' %}">Créer un ticket</a></li>
                    <li><a href="{% url 'ticket:search_ticket' %}">Manager un ticket</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="#">Les catégories</a>
                <ul>
                    <li><a href="#">Créer une catégorie</a></li>
                    <li><a href="#">Voir une catégorie</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
